.boxTransfer{
    border: 1px solid black;
    padding: 10px;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.boxTransfer h3{
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px 0;
}
.playerItem{
    margin: 10px 0;
}
.playerItem:hover{
    background-color: skyblue;
    margin: 0;
}