.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
    background-image: url("../imgs/wembley.jpg");
  height: 5%;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Custom styles */
.boxTransfer{
    border: 1px solid black;
    padding: 10px;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.boxTransfer h3{
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px 0;
}
.boxTeam{
    background-color: #1E8449;
}
.playerItem{
    margin: 10px 0;
}
.playerItem:hover{
    background-color: skyblue;
    margin: 0;
}

